@charset "ISO-8859-1";

.center-panel{
	position: absolute;
	border: 2px solid;
	left: 20%;
}

#canvas{
	top:10%;
}

#word-panel{
	top: 0%;
	width: 800px;
	height: 50px;
}

#paint-options-panel{
	bottom: 0.5%;
	width: 800px;
	height: 100px;
}

.paint-options-panel-colors{
	position:absolute;
	width:11px;
	height:11px;
	border-radius:50%;
}

.side-panel{
 	position: absolute;
 	top: 0%; 
 	border: 2px solid;
 	width: 245px; 
 	height: 620px;
}

#chat-panel{
	left: 81.4%;
	border-radius: thin;
	border-style: solid;
	position: absolute;
    background-color: #525ef7;
    border-radius: 15px;
    border-color: #e03bd4;
}

.button1{
	color: white;
	background-color: #7655ee;
	margin-bottom: 3%;
}

#chatText{
	margin-left: 2%;
}
.chat-box{
	border-radius: thin;
	border-style: solid;
	border-color: #e03bd4;
    display: block;
    
    width: 235px;
	height: 570px;
    
    margin: auto;
    margin-top: 0%;
    margin-bottom: 4%;
    
    overflow-y: scroll;
    background-color: #ebe0ff;
    text-align: initial;
}

#users-panel{
	left: 0%;
}

#choosecolor{
	position:absolute;
	top:20%;
	left:0%;
}

#green{
	top:37%;
	left:0%;
	background:green;
}

#blue{
	top:37%;
	left:2%;
	background:blue;
}

#red{
	top:37%;
	left:4%;
	background:red;
}

#yellow{
	top:37%;
	left:6%;
	background:yellow;
}

#orange{
	top:37%;
	left:8%;
	background:orange;
}

#black{
	top:50%;
	left:0%;
	background:black;
}

#gray{
	top:50%;
	left:2%;
	background:gray;
}

#purple{
	top:50%;
	left:4%;
	background:purple;
}

#brown{
	top:50%;
	left:6%;
	background:brown;
}

#aqua{
	top:50%;
	left:8%;
	background:aqua;
}

#eraser{
	position:absolute;
	top:0%;
	left:15%;
}

#white{
	top:20%;
	left:15%;
	background:white;
	border:1px solid;
}

#clr{
	position:absolute;
	top:0%;
	left:0%;
}

#choosewidth{
	position:absolute;
	top:0%;
	left:25%;
}

#w4{
	position:absolute;
	top:15%;
	left:25%;
	width:4px;
	height:4px;
	background:white;
	border:solid 1px;
	border-radius:50%;
}

#w8{
	position:absolute;
	top:15%;
	left:26%;
	width:8px;
	height:8px;
	background:white;
	border:solid 1px;
	border-radius:50%;
}

#w16{
	position:absolute;
	top:15%;
	left:27%;
	width:16px;
	height:16px;
	border-radius:50%;
	background:white;
	border:solid 1px;
}