@charset "ISO-8859-1";

body{
	background: lightblue;
}

.center-panel, .side-panel, #canvas-panel{
	position: absolute;
    border-radius: 1.5%;
}

#paint-options-panel, #word-panel{
	background: silver;
    border-radius: 1.5%;
}

#chat-panel, #users-panel{
	background: #525ef7;;
}

#canvas-panel{
	background: white;
}

/*.paint-options-panel-colors{
	position:absolute;
	width:11px;
	height:11px;
	border-radius:50%;
}*/

.send-button{
	color: white;
	background-color: #7655ee;
	margin-bottom: 3%;
	border-radius: 1.5%;
	margin-left: 2%;
}

#chat-text{
	margin-left: 2%;
	border-radius: 1.5%;
	width: 95%;
	background-color: aliceblue; 
}

#chat-box-div{
	border-radius: thin;
	border-style: solid;
	border-color: #e03bd4;
    display: block;
    
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    
    overflow-y: scroll;
    background-color: #ebe0ff;
    text-align: initial;
}

/*#choosecolor{
	position:absolute;
	top:20%;
	left:0%;
}*/

/*#green{
	top:37%;
	left:0%;
	background:green;
}*/

/*#blue{
	top:37%;
	left:2%;
	background:blue;
}*/

/*#red{
	top:37%;
	left:4%;
	background:red;
}*/

/*#yellow{
	top:37%;
	left:6%;
	background:yellow;
}*/

/*#orange{
	top:37%;
	left:8%;
	background:orange;
}*/

/*#black{
	top:50%;
	left:0%;
	background:black;
}*/

/*#gray{
	top:50%;
	left:2%;
	background:gray;
}*/

/*#purple{
	top:50%;
	left:4%;
	background:purple;
}*/

/*#brown{
	top:50%;
	left:6%;
	background:brown;
}*/

/*#aqua{
	top:50%;
	left:8%;
	background:aqua;
}*/

/*#eraser{
	position:absolute;
	top:0%;
	left:15%;
}*/

/*#white{
	top:20%;
	left:15%;
	background:white;
	border:1px solid;
}*/

/*#clr{
	position:absolute;
	top:0%;
	left:0%;
}*/

/*#choosewidth{
	position:absolute;
	top:0%;
	left:25%;
}*/

/*#w4{
	position:absolute;
	top:15%;
	left:25%;
	width:4px;
	height:4px;
	background:white;
	border:solid 1px;
	border-radius:50%;
}*/

/*#w8{
	position:absolute;
	top:15%;
	left:26%;
	width:8px;
	height:8px;
	background:white;
	border:solid 1px;
	border-radius:50%;
}*/

/*#w16{
	position:absolute;
	top:15%;
	left:27%;
	width:16px;
	height:16px;
	border-radius:50%;
	background:white;
	border:solid 1px;
}*/

/*come here to fix!!! */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header {
  padding: 2px 16px;
  background-color: #7655ee;
  color: white;
}

.modal-body {padding: 2px 16px;}